.container {
    max-width: 1920px;
    width: 100%;
    margin: 50px auto;
}
nav {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img {
    width: 70px;
}
nav ul {
    display: flex;
    list-style-type: none;
    gap: 53px;
    font-size: 15px;
}
.search {
    width: 25px;
    height: 25px;
}
.slider {
    width: 100%;
}
h1 {
    font: 40px;
    font-family: Archy EDT;
    font-weight: lighter;
}
.sec-container{
    max-width: 1920px;
    width: 100%;
    margin: 50px auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
div-img{
    max-width: 483px;
    width: 100%;
    
}
.unsplash{
    width: 100%;
}
.title{
    font-size: 30px;
    font-family: Archy EDT;
}
.this-title{
    font-size: 17px;
    font-family: Zapf Dingbats;
    font-weight: lighter;
}
.more{
    font-size: 18px;
    font-family: Archy EDT;
    margin-left: 300px;
}
.unsplash2{
    width: 100%;
}
.unsplash3{
    width: 100%;
}
.title2{
    font-size: 30px;
    font-family: Archy EDT;  
}
.this-title2{
    font-size: 17px;
    font-family: Zapf Dingbats;
    font-weight: lighter;
}
.more2{
    font-size: 18px;
    font-family: Archy EDT;
    margin-left: 300px;
}
.title3{
    font-size: 30px;
    font-family: Archy EDT;
}
.this-title3{
    font-size: 17px;
    font-family: Zapf Dingbats;
    font-weight: lighter;
}
.more3{
    font-size: 18px;
    font-family: Archy EDT;
    margin-left: 300px;
}
.load-more{
    font-size: 30px;
    font-family: Archy EDT;
    margin-top: 30px;
    margin-left: 600px;
    
}
.last-add{
font-size: 40px;
font-family: Archy EDT;
font-weight: lighter;
}
.third-cont{
    max-width: 1920px;
    width: 100%;
    margin: 50px auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    
}
.division{
    max-width: 483px;
    width: 100%;
}
.unsplash4{
    width: 100%;
}
.title4{
    font-size: 30px;
    font-family: Archy EDT; 
}
.this-title4{
    font-size: 17px;
    font-family: Zapf Dingbats;
    font-weight: lighter;
}
.more4{
    font-size: 18px;
    font-family: Archy EDT;
    margin-left: 350px;
}
.unsplash5{
    width: 100%;
}
.title5{
    font-size: 30px;
    font-family: Archy EDT; 
}
.this-title5{
    font-size: 17px;
    font-family: Zapf Dingbats;
    font-weight: lighter;
}
.more5{
    font-size: 18px;
    font-family: Archy EDT;
    margin-left: 340px;
}
.unsplash6{
    width: 100%;
}
.title6{
    font-size: 30px;
    font-family: Archy EDT;  
}
.this-title6{
    font-size: 17px;
    font-family: Zapf Dingbats;
    font-weight: lighter;
}
.more6{
    font-size: 18px;
    font-family: Archy EDT;
    margin-left: 340px;
}