.container {
    max-width: 1920px;
    width: 100%;
    margin: 50px auto;
}
nav {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.burger-menu{
    width: 50px;
    height: 50px;
    display: none;
}
nav img {
    width: 70px;
}
nav ul {
    display: flex;
    list-style-type: none;
    gap: 53px;
    font-size: 15px;
}
.search {
    width: 25px;
    height: 25px;
}
.slider {
    width: 100%;
}
h1 {
    font: 40px;
    font-family: Archy EDT;
    font-weight: lighter;
}
.sec-container{
    max-width: 1920px;
    width: 100%;
    margin: 50px auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
div-img{
    max-width: 483px;
    width: 100%;
    
}
.unsplash{
    width: 100%;
}
.title{
    font-size: 30px;
    font-family: Archy EDT;
}
.this-title{
    font-size: 17px;
    font-family: Zapf Dingbats;
    font-weight: lighter;
}
.more{
    font-size: 18px;
    font-family: Archy EDT;
    margin-left: 300px;
}
.unsplash2{
    width: 100%;
}
.unsplash3{
    width: 100%;
}
.title2{
    font-size: 30px;
    font-family: Archy EDT;  
}
.this-title2{
    font-size: 17px;
    font-family: Zapf Dingbats;
    font-weight: lighter;
}
.more2{
    font-size: 18px;
    font-family: Archy EDT;
    margin-left: 300px;
}
.title3{
    font-size: 30px;
    font-family: Archy EDT;
}
.this-title3{
    font-size: 17px;
    font-family: Zapf Dingbats;
    font-weight: lighter;
}
.more3{
    font-size: 18px;
    font-family: Archy EDT;
    margin-left: 300px;
}
.load-more{
    font-size: 30px;
    font-family: Archy EDT;
    margin-top: 30px;
    margin-left: 600px;    
}
.last-add{
font-size: 40px;
font-family: Archy EDT;
font-weight: lighter;
}
.third-cont{
    max-width: 1920px;
    width: 100%;
    margin: 50px auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    
}
.division{
    max-width: 483px;
    width: 100%;
}
.unsplash4{
    width: 100%;
}
.title4{
    font-size: 30px;
    font-family: Archy EDT; 
}
.this-title4{
    font-size: 17px;
    font-family: Zapf Dingbats;
    font-weight: lighter;
}
.more4{
    font-size: 18px;
    font-family: Archy EDT;
    margin-left: 350px;
}
.unsplash5{
    width: 100%;
}
.title5{
    font-size: 30px;
    font-family: Archy EDT; 
}
.this-title5{
    font-size: 17px;
    font-family: Zapf Dingbats;
    font-weight: lighter;
}
.more5{
    font-size: 18px;
    font-family: Archy EDT;
    margin-left: 340px;
}
.unsplash6{
    width: 100%;
}
.title6{
    font-size: 30px;
    font-family: Archy EDT;  
}
.this-title6{
    font-size: 17px;
    font-family: Zapf Dingbats;
    font-weight: lighter;
}
.more6{
    font-size: 18px;
    font-family: Archy EDT;
    margin-left: 340px;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    background-color: #2E2E2E;
    
    
}
footer img{
    
    width: 70px;
    
}
.contact{
    font-size: 20px;
    font-family: Archy EDT;
    color: white; 
    animation-name: contact;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.number{
    font-size: 13px;
    color: white;
    animation-name: number;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.mail{
    font-size: 13px;
    color: white;
}
.address{
    font-size: 19px;
    color: white;
    font-family: Archy EDT;
}
.tbilisi{
    font-size: 13px;
    color: white;
font-family: Archy EDT;
}
.icons img{
    width: 43px;
    padding: 10px;
}
@media (max-width: 480px){
    nav{
        display: none;
    }
    .burger-menu{
        display: block;
        width: 30px;
        height: 30px;
        margin-bottom: 30px;
    }
}
@media{
    footer{
        display: block;  
    }
}
@media{
    footer img{
        width: 50px;
        margin-left: 200px;
        margin-top: 20px;
    }
}
@media {
    .contact 
    {margin-left: 180px;}
}
@keyframes contact{
   0% {font-size: 20px;}
   25%{font-size: 25px; color: blue;}
   75%{font-size: 30px; color: blueviolet;}
   100%{font-size: 15px; color: chartreuse;}
}
@media {
    .number{
        margin-left: 150px;
    }
}
@keyframes number{
    0% {font-size: 20px;}
   25%{font-size: 25px; color: blue;}
   75%{font-size: 30px; color: blueviolet;}
   100%{font-size: 15px; color: chartreuse;}
}
@media{
    .mail{
        margin-left: 180px;
        color: darkorange;
    }
}
@media{
.address{
margin-left: 180px;
color: darkorange;
}
}
@media{
.tbilisi{
    margin-left: 180px;
    color: darkorange;
}
}
@media{
    .icons img{
        width: 30px; 
    }
}
@media{
    .load-more{
        display: none;
    }
}
